.background{
    background-image: url(./images/background-scene-zoo-with-empty-cages-vector-27748559.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
    
}